.todos-block {
  width: 100%
}

.todos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.todo {
  box-sizing: border-box;
  width: calc(100% / 3 - 1rem);
  border: 1px solid white;
  padding: .5rem;
  margin: .5rem;
  border-radius: 25px;
  cursor: pointer;
}

.todo:hover {
  background-color: #4e5461;
}

.completed {
  color: green
}

.pending {
  color: yellow;
}